.pseudoBody {
  display: flex;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.container h1 {
  color: #333;
}

.container .productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem
}

.container .productItem {
  width: 350px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 15px;
}

.container h3 {
  color: #007bff;
}

.container p {
  color: #555;
}

.container img {
  max-width: 100%;
  max-height: 15rem;
  display: block;
  margin: 0 auto;
}

.aside {
  padding: 1rem;

  .filterContainer {
    h5 {
      margin-bottom: .5rem;
    }
  }
}
