.downloadReport {
  font-size: 5rem;
  position: absolute;
  top: 5rem;
  left: 1rem;
  color: rgb(0 128 0);
  background: none;
  border: none;
  margin: none;
  padding: none;
  cursor: pointer;
}

.section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.table {
  border-collapse: collapse;
  border-spacing: 1em;

  th, td {
    border: 1px solid black;
  }

  th, td {
    padding: 10px;
    text-align: center;
  }

}
