.header {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header span {
  margin-right: 10px;
}

.header button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.header button:hover {
  background-color: #c9302c;
}

.header div {
  margin-left: 20px;
}

.header a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.header a:hover {
  background-color: #555;
}
